.i-layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.i-panel {
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  transition: all .2s ease-in-out;
  background: #fff;
  margin: 10px;
  padding: 10px;
}

.i-page-panel {
  padding: 15px 0 10px 0;
}